<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

	<meta charset="utf-8" />
	<title>List Books</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	</head>
	
	
</head>

<body class="bg-light">

	<div th:insert="common/navigation"></div>
	
	<section class="container">
	
		<h1 class="text-center jumbotron p-4">Liste des prêts :</h1>
		<div class="jumbotron bg-white mt-5 border h-auto min-vh-100">
		
			<div class="card-deck">
				<th:block th:each="book : ${books}">
					<div class="col-12 mb-5">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">[[${book.id}]]</h4>
							</div>
							<div class="card-body">
								<p class="card-text">Date de disponibilité: [[${#temporals.format(book.endOfLoaningDate, 'dd-MM-yyyy HH:mm')}]]</p>
								<div class="card-text">
									<a th:if="${book.loanExtended == false}" th:href="@{/loan/extend(bookId=${book.id})}">
										<button class="btn btn-success btn-sm ml-3">Prolonger l'emprunt</button>
									</a>
								</div>
							</div>
						</div>
					</div>
				</th:block>
			</div>
		</div>
	</section>
		
	<div th:insert="common/footer"></div>

</body>